        /* testing */
        body{
            background:gray;
        }
        /* for all element tags */
        ul{
            list-style: none;
            padding:0;
            margin:0;
        }
        a{
            text-decoration: none;
        }
        footer{
            background:#000;
            color:#fff;
        }
        /* top slogan */
        .black-bg{
            background: #000;
            height:50px;
        }
        .ctr-wrapper{
            /* for cetralize */
            width:90%;
            margin:0 auto;
            line-height: 50px;
            color:#fff;
            display: flex;
            justify-content: space-around;

        }
        .ctr-wrapper .words{
            font-size: 18px;
        }
        .ctr-wrapper li{
            display:inline-block;
            margin:0 10px 0 10px;
            color:#fff;
        }
        .ctr-wrapper a{
            color:#fff;
            display: block;
        }
        /* main-nav */
        .main-nav{
            height:70px;
            background: #fff;
            /* centralized center by parent */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nav-wrapper{
            width:90%;
            /* margin:auto; */
            display: flex;
            justify-content: space-between;
        }
        .center-nav li{
            display: inline-block;
            margin:0 5px 0 5px;
        }
        .center-nav a{
            display:block;
            color:#000;
        }
        .udl::after{
            margin-top:3px; 
            content:'';
            display:block;
            border-bottom: 3px solid red;
            transform:scaleX(0);
            transition:transform 1s ease-in;
            transform-origin: 0% 50%;
        }
        .udl:hover::after{
            transform:scaleX(1);
        }
        .center-nav a.active::after{
            margin-top:3px; 
            content:'';
            display:block;
            border-bottom: 3px solid red;
        }
        .icon-groups div{
            display: inline-block;
            margin:0 5px 0 5px;
            text-align: center;
        }
        /* .banner(parents) and .banner-wrapper(child) - solve collpase margin */
        .banner{
            background-image: url(https://colorlib.com/preview/theme/malefashion/img/hero/hero-1.jpg);
            background-size: cover;
            height:800px;
            position:relative;
        }
        .banner-wrapper{
            width:40%;
            margin-left:70px;
            /* border:1px solid green; */
            position:absolute;
            top:20%;
            left:10%;
        }
        .banner-wrapper h6{
            color:red;
        }
        .banner-wrapper h2{
            font-weight:bold;
            font-size:50px;
        }
        .btn{
            color:#fff;
            display:inline-block;
            padding:20px 10px;
            background:#000;
        }
        .social-groups{
            margin-top:50px;
        }
        .social-groups .fab{
            color:#000;
            margin:0 20px;
        }
        .social-groups .fab:first-child{
            margin-left:0px;
        }
        /* accessories */
        .accessories{
            background:#fff;
            /* because of styling, out of flow,so have to set height(not so good) */
            height:150vh;
        } 
        .ac-wrapper{
            margin:0 auto;
            width:80%;
        }
        .ac-text h2{
            font-size: 30px;
            font-weight: bold;
        }
        /* useful, must learn */
        .udl-btn{
            letter-spacing:4px;
            display: inline-block;
            font-size:13px;
            font-weight: 700;
            color:#000;
            padding:3px 0;
        }
        .udl-btn::after{
            margin-top:5px;
            content:'';
            display: block;
            border-bottom: 2px solid #000;
            transform-origin: 100% 50%;
            width:100%;
            transition:1s;
        }
        .udl-btn:hover::after{
            border-bottom:2px solid red;
            width:30%;
        
        }
        .cloth{
            float:right;
            margin-right:150px;
            position:relative;
        }
        /* try understand position fix, relative and absolute */
        .cloth img{
            margin-top:130px;
        }
        .text1{
            position:absolute;
            top:40%;
            left:-35%;
            width: 60%;
        }
        .glass img{
            margin-top:40%;
        }
        .text2{
            margin-top:22px;
        }
        .shoes{
         display:inline-block;
         transform:translate(135%,-90%);
         position:relative;
        }
        .text3{
            position:absolute;
            top:30%;
            left:-30%;
            width: 40%;
        }
        /* products */
        .products{
            background:#fff;
        }
        .products-wrapper{
            margin:0 auto;
            width:90%;
            text-align: center;
        }
        .products-nav a.active{
            color:#000;
        }
        .products-nav a{
            display: inline-block;
            color:#b7b7b7;
            font-size:24px;
            font-weight:700;
            margin-right:88px;
        }
        .item{
            display: inline-block;
            width:20%;
        }
        .item figure{
            width:90%;

        }
        .item figure img{
            width:100%;
            object-fit: cover;
        }
        /* categories */
        .categories{
            background:#f3f2ee;
            padding-top:150px;
            padding-bottom:125px;
        }
        .categories-wrapper{
            width:80%;
            margin:0 auto;
            display:flex;
            justify-content: space-between;
        }
        .categories_text{
            color:#b7b7b7;
            font-size: 20px;
            font-weight:normal;
            position:relative;
            /* why ""both"" element itself and before should set z-index */
            z-index: 1;
        }
        .categories_text::before{
            content:'';
            display: inline-block;
            width:200px;
            height:200px;
            background:#fff;
            position:absolute;
            z-index: -1;
        }
        .categories_text h2:nth-child(2){
            color:#000;
            font-weight: 700;
        }
        /* instagram */
        .instagram{
            background:#fff;
            padding-top:30px;
            padding-bottom:55px;
        }
        .instagram-wrapper{
            width:80%;
            margin:0 auto;
            display: flex;
            /* border:1px solid red; */
        }
        .ig-container{
            width:70%;
            /* another way to fix collapse margin */
            display: inline-block;
            margin-top:50px;    
        }
        .ig-container figure{
            width:30%;
            margin:0;
            padding:0;
            display:inline-block;
        }
        .ig-container img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .ig-text{
            width:30%;
            /* border:1px solid blue; */
            margin-top:50px;    
        }
        .ig-text h2{
            font-weight:700;
            font-size:30px;
            margin-top:100px;
            margin-bottom:50px;
        }
        .ig-text p{
            color:#3d3d3d;
            font-size:15px;
            font-weight:300;
            margin-bottom:80px;
        }
        .ig-text h3{
            color:#e53637;
            font-weight:700;
            font-size: 30px;
        }
        .trends{
            background:#f8f9fa;
            padding:100px 0;
        }
        .trends-wrapper{
            width:80%;
            margin:0 auto;
            text-align: center;
            /* border:1px solid red; */
        }
        .trends p{
            text-transform: uppercase;
            color:#e53637;
            font-weight:700;
            font-size:14px;
            letter-spacing: 2px;
            margin:0 0 30px;
        }
        .blogs{
            display: flex;
        }
        .blog-item{
            margin:0 auto;
            margin-right:15px;
        }
        .blog-item figure{
            width:90%;
            margin:0 auto;
        }
        .blog-item img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .blog-txt{
            width:60%;
            background:#fff;
            display: inline-block;
            padding:20px 25px;
            margin-top:-50px;
            text-align: left;
        }
        .blog-txt img{
            width:15px;
            margin-right:10px;
        }
        .blog-txt span{
            font-size: 13px;
            color:#3d3d3d;
        }
        .blog-txt h5{
            color:#0d0d0d;
            font-weight:700;
            margin-bottom:30px;
            font-size: 18px;
        }